<%= render partial: "layouts/slider" %>
<section class="content">
  <div class="content__head">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="content__title">PHIM MỚI</h2>
          <ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">MỚI RA MẮT</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">PHIM LẺ</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">PHIM BỘ</a>
            </li>
          </ul>
          <div class="content__mobile-tabs" id="content__mobile-tabs">
            <div class="content__mobile-tabs-btn dropdown-toggle" role="navigation" id="mobile-tabs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <input type="button" value="New items">
              <span></span>
            </div>
            <div class="content__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item"><a class="nav-link active" id="1-tab" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">NEW RELEASES</a></li>

                <li class="nav-item"><a class="nav-link" id="2-tab" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">MOVIES</a></li>

                <li class="nav-item"><a class="nav-link" id="3-tab" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">TV SERIES</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <!-- content tabs -->
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
        <div class="row">
          <%= render partial: 'home/item', collection: @films.recent, as: :film %>
        </div>
      </div>

      <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="2-tab">
        <div class="row">
          <%= render partial: 'home/item', collection: @films.movie.recent, as: :film %>
        </div>
      </div>


      <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="2-tab">
        <div class="row">
          <%= render partial: 'home/item', collection: @films.series.recent, as: :film %>
        </div>
      </div>
    </div>
    <!-- end content tabs -->
  </div>
</section>
<%= render partial: "layouts/expected" %>
