<%= link_to "Thêm mới", new_film_path, class: "btn btn-success my-2" %>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Tên</th>
      <th scope="col">Thể loại</th>
      <th scope="col">Quốc gia</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @films.each do |film| %>
      <tr>
        <th scope="row"><%= film.name %></th>
        <td><%= film.categories.pluck(:name).join(",") %></td>
        <td><%= film.country.name %></td>
        <td>
          <%= link_to "Chỉnh sửa", edit_film_path(film), class: "btn btn-light" %>
          <%= link_to "Xóa", film_path(film), class: "btn btn-dark", method: :delete, data: { confirm: "Bạn có chắc chắn muốn xóa phim này không?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
