<div class="sign section--bg">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sign__content">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "sign__form" }) do |f| %>
            <a href="index.html" class="sign__logo">
              <img src="img/logo.svg" alt="">
            </a>
            <div class="sign__group">
              <%= f.text_field :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" },
                class: "sign__input",
                placeholder: "Email" %>
            </div>
            <div class="sign__group">
              <%= f.password_field :password,
                required: false,
                class: "sign__input",
                placeholder: "Password" %>
            </div>

            <div class="sign__group sign__group--checkbox">
              <%= f.check_box :remember_me, id: "remember", as: :boolean if devise_mapping.rememberable? %>
              <label for="remember">Remember Me</label>
            </div>

            <%= render "devise/shared/links" %>
            <%= f.button "Sign in", class: "sign__btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
