<section class="section section--bg">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section__title">Expected premiere</h2>
      </div>
      <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
        <div class="card">
          <div class="card__cover">
            <%= image_tag "covers/cover" %>
            <a href="#" class="card__play">
              <i class="fa fa-play"></i>
            </a>
          </div>
          <div class="card__content">
            <h3 class="card__title"><a href="#">I Dream in Another Language</a></h3>
            <span class="card__category">
              <a href="#">Action</a>
              <a href="#">Triler</a>
            </span>
            <span class="card__rate"><i class="fa fa-star"></i>8.4</span>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
        <div class="card">
          <div class="card__cover">
            <%= image_tag "covers/cover" %>
            <a href="#" class="card__play">
              <i class="fa fa-play"></i>
            </a>
          </div>
          <div class="card__content">
            <h3 class="card__title"><a href="#">Benched</a></h3>
            <span class="card__category">
              <a href="#">Comedy</a>
            </span>
            <span class="card__rate"><i class="fa fa-star"></i>7.1</span>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
        <div class="card">
          <div class="card__cover">
            <%= image_tag "covers/cover2" %>
            <a href="#" class="card__play">
              <i class="fa fa-play"></i>
            </a>
          </div>
          <div class="card__content">
            <h3 class="card__title"><a href="#">Whitney</a></h3>
            <span class="card__category">
              <a href="#">Romance</a>
              <a href="#">Drama</a>
              <a href="#">Music</a>
            </span>
            <span class="card__rate"><i class="fa fa-star"></i>6.3</span>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
        <div class="card">
          <div class="card__cover">
            <%= image_tag "covers/cover6" %>
            <a href="#" class="card__play">
              <i class="fa fa-play"></i>
            </a>
          </div>
          <div class="card__content">
            <h3 class="card__title"><a href="#">Blindspotting</a></h3>
            <span class="card__category">
              <a href="#">Comedy</a>
              <a href="#">Drama</a>
            </span>
            <span class="card__rate"><i class="fa fa-star"></i>7.9</span>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
        <div class="card">
          <div class="card__cover">
            <%= image_tag "covers/cover4" %>
            <a href="#" class="card__play">
              <i class="fa fa-play"></i>
            </a>
          </div>
          <div class="card__content">
            <h3 class="card__title"><a href="#">I Dream in Another Language</a></h3>
            <span class="card__category">
              <a href="#">Action</a>
              <a href="#">Triler</a>
            </span>
            <span class="card__rate"><i class="fa fa-star"></i>8.4</span>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
        <div class="card">
          <div class="card__cover">
            <%= image_tag "covers/cover5" %>
            <a href="#" class="card__play">
              <i class="fa fa-play"></i>
            </a>
          </div>
          <div class="card__content">
            <h3 class="card__title"><a href="#">Benched</a></h3>
            <span class="card__category">
              <a href="#">Comedy</a>
            </span>
            <span class="card__rate"><i class="fa fa-star"></i>7.1</span>
          </div>
        </div>
      </div>
      <div class="col-12">
        <a href="#" class="section__btn">Show more</a>
      </div>
    </div>
  </div>
</section>
