<header class="header">
  <div class="header__wrap">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="header__content">
            <%= link_to root_path, class: "header__logo" do %>
              <%= image_tag 'logo' %>
            <% end %>
            <ul class="header__nav">
              <li class="header__nav-item">
                <a class="dropdown-toggle header__nav-link" href="#" role="button" id="dropdownMenuHome" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">TRANG CHỦ</a>
              </li>
              <li class="header__nav-item">
                <a class="dropdown-toggle header__nav-link" href="#" role="button" id="dropdownMenuCatalog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">THỂ LOẠI</a>
                <ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuCatalog">
                  <% Category.all.each do |category| %>
                    <li>
                      <%= link_to category.name, category_path(category) %>
                    </li>
                  <% end %>
                </ul>
              </li>
              <li class="header__nav-item">
                <a class="dropdown-toggle header__nav-link" href="#" role="button" id="dropdownMenuCatalog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">QUỐC GIA</a>
                <ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuCatalog">
                  <% Country.all.each do |country| %>
                    <li>
                      <%= link_to country.name, category_path(country) %>
                    </li>
                  <% end %>
                </ul>
              </li>
              <li class="header__nav-item">
                <a href="#" class="header__nav-link">LIÊN HỆ</a>
              </li>
              <li class="header__nav-item">
                <a href="#" class="header__nav-link">HỖ TRỢ</a>
              </li>
              <li class="dropdown header__nav-item">
                <a class="dropdown-toggle header__nav-link header__nav-link--more" href="#" role="button" id="dropdownMenuMore" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></a>
                <ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuMore">
                  <li><a href="#">THÔNG TIN</a></li>
                </ul>
              </li>
            </ul>
            <div class="header__auth">
              <button class="header__search-btn" type="button">
                <i class="fa fa-search"></i>
              </button>
              <%= link_to new_user_session_path, class: "header__sign-in" do %>
                <i class="icon ion-ios-log-in"></i>
                <span>ĐĂNG NHẬP</span>
              <% end %>
            </div>
            <button class="header__btn" type="button">
              <span></span>
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <form action="#" class="header__search">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="header__search-content">
            <input type="text" placeholder="Tên phim mà bạn đang tìm kiếm ...">

            <button type="button">Tìm kiếm</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</header>
