<!DOCTYPE html>
<html>
  <head>
    <title>PhimmoiClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'bootstrap.min', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background: white;">
    <%= render partial: "layouts/header_admin" %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
